*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Helvetica Neue", "Helvetica", arial, sans-serif;
  box-sizing: border-box;
  font-family: "Lato", sans-serif; }

body {
  font-size: 1.6rem;
  box-sizing: inherit;
  height: 90vh;
  margin: 3rem;
  background: linear-gradient(90deg, rgba(63, 94, 251, 0.252539) 0%, rgba(252, 70, 107, 0.252539) 100%); }

h1 {
  font-size: 8rem; }

h2 {
  font-size: 3rem; }

.tagline {
  display: inline-block;
  font-size: 1.75rem;
  margin-bottom: 1rem; }

.side-container {
  border: 1px solid #000;
  display: flex;
  margin: 0 auto;
  height: 85%;
  width: 100%; }

.left-side {
  border: 1px solid #000;
  width: 100%;
  background-color: #d0d0d0; }

.right-side {
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #d0d0d0; }
  .right-side__title {
    border-bottom: 2px solid #000;
    padding: 1rem;
    min-height: 6rem; }
  .right-side__recommendations {
    height: 80%; }
  .right-side__overview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    min-height: 6rem;
    margin-top: auto; }

.keyword-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 6rem;
  border-top: 2px solid #000; }

.toolbar {
  min-height: 6rem;
  border-bottom: 2px solid #000;
  padding: 1rem; }

.header-dropdown {
  width: 18rem;
  height: 4rem; }
  .header-dropdown__current-selection {
    width: 18rem;
    height: 4rem;
    position: relative;
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer; }
    .header-dropdown__current-selection:hover .header-dropdown__options {
      visibility: visible; }
  .header-dropdown__current-selection-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header-dropdown__options {
    visibility: hidden; }
  .header-dropdown__list {
    position: relative;
    top: 4rem;
    z-index: 10;
    width: 18rem;
    list-style-type: none;
    background-color: #fff; }
  .header-dropdown__list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000; }
    .header-dropdown__list-item:hover {
      background-color: rgba(252, 70, 107, 0.252539); }

.editor {
  height: 80%;
  width: 60vw;
  padding: 1rem;
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: hidden; }
  .editor:focus {
    outline: none; }

.keyword__input {
  height: 3rem;
  width: 50rem; }

.keyword__submit {
  height: 3rem;
  width: 20rem;
  margin-left: 1rem; }

.recommendation {
  font-size: 2rem;
  padding: 1rem;
  border-bottom: 2px solid #000; }

.overview-block {
  width: 100%;
  height: 100%;
  background-color: #a3a3a3;
  padding-left: 1rem;
  border-top: 2px solid #000; }
  .overview-block-wordcount {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-right: 2px solid #000; }
  .overview-block-rating {
    grid-column: 2 / 3;
    grid-row: 1 / 2; }
  .overview-block-keywords {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-right: 2px solid #000; }
  .overview-block-misc {
    grid-column: 2 / 3;
    grid-row: 2 / 3; }
